/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(66, 220, 19);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c663a8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(89, 84, 84, 0.1);
}
h1 {
    text-align:left;
    margin-bottom: 15px;
}
.hangman-image {
    display: block;
    margin: 0 auto 20px;
}
.letters {
    margin-bottom: 20px;
}
.letter {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
.remaining-time {
    text-align: center;
    margin-bottom: 20px;
}
.input {
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #76d994;
}
